body {
	background-color:#000;
	font-family:arial;
}
#page {
	border:2px solid #fff;
	width:550px;
	margin:auto;
	padding:10px;
}
section {
	background-color:#fff;
	padding:10px;
}

header {
	/* the url reference is relative to the stylesheet location, which is /resources/css/style.css
	the images are in /resources/images/..., therefore need to go up one level using .. to get back to
	/resources/, then go down into /images/ in order to work as a relative reference */
	background-image:url(../images/header.jpg);
	padding-top:20px;
	padding-bottom:20px;
}
header h2 {
	color:#232f98;
	font-size:3.0em;
	padding:6px;
	background:#ffffff;
	border:6px solid #232f98;
	width:47%;
	margin:auto;
	text-align:center;
}

footer {
	/* the url reference is relative to the stylesheet location, which is /resources/css/style.css
	the images are in /resources/images/..., therefore need to go up one level using .. to get back to
	/resources/, then go down into /images/ in order to work as a relative reference */
	background-image:url(../images/header.jpg);
	padding-top:20px;
	padding-bottom:20px;
	font-size:0.9em;
	color:#fff;
	text-align:center;
}
footer a{
	color:#fff;
	text-decoration:none;
}

table {
	width:100%;
}

td {
	border-bottom:1px solid black;
	font-size:1.15em;
	text-align:left;
}

th {
	text-align:left;
	font-size:1.25em;
}

nav {
	overflow:auto;
	margin-bottom:2px;
}

nav div {
	padding:3px;
	margin:4px;
	width:13.5%;
	border:1px solid #aaa;
	float:left;
	text-align:center;
	font-size:1.25em;
}

nav div a {
	color:#fff;
	width:100%;
	display:block;
	text-decoration:none;
}

nav div a:hover {
	background-color:#232f98;
	color:#ffffff;
}

.error {
	color:#f00;
}
.dashboard th {
	font-size:2.0em;
}

.dashboard td {
	font-size:2.0em;
}

.radioform p {
	font-size:1.25em;
}
.amountinput {
	font-size:1.5em;
}

.loginform p {
	font-size:1.5em;
}
.form-buttons {
	font-size:1.5em;
}